.filter-bar {
    padding: 0px 20px 10px 20px;
    background: #f9fafc;
}

/* line 1303, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.filter-bar a,
.filter-bar i {
    color: #000;
}

.grid-btn,
.list-btn {
    margin-top: 10px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #eee;
    text-align: center;
    margin-right: 10px;
}

/* line 1320, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.grid-btn i,
.list-btn i {
    display: inline-block;
}

/* line 1325, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.grid-btn:hover i,
.list-btn:hover i {
    color: #fff;
}

/* line 1331, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.grid-btn.active i,
.list-btn.active i {
    color: #fff;
}

.sorting {
    margin-top: 10px;
    margin-right: 10px;
}

/* line 1340, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sorting .nice-select {
    border-radius: 0px;
    border: 1px solid #eee;
    padding-right: 50px;
}

/* line 1344, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sorting .nice-select:after {
    right: 18px;
}

/* line 1347, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sorting .nice-select .list {
    border-radius: 0px;
}

.pagination {
    margin-top: 10px;
    border-left: 1px solid #eee;
    border-radius: 0px;
}

/* line 1356, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.pagination a {
    width: 40px;
    line-height: 40px;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
    display: inline-block;
    background: #fff;
}

/* line 1365, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.pagination a.active {
    border: 1px solid transparent;
    color: #fff;
}

/* line 1370, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.pagination a:hover {
    border: 1px solid transparent;
    color: #fff;
}

/* line 1376, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.pagination .dot-dot {
    width: auto;
    background: transparent;
    border-top: 0px;
    border-bottom: 0px;
    color: #cccccc;
    padding: 0 5px;
}

/* line 1383, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.pagination .dot-dot:hover {
    background: transparent;
    border: 0px;
    border-right: 1px solid #eee;
    color: #cccccc;
}

.category-list .single-product {
    margin-top: 30px;
}

.price h5 {
    font-family: MuliRegular, sans-serif;
    color: rgb(119, 119, 119);
}

.price h3 {
    font-family: MuliBold, sans-serif;
    background: -webkit-linear-gradient(45deg, #f37748 0%, #ff919c 45%, #ff919c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.single-product .price h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

/* line 382, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.single-product .price h3 {
    font-weight: 700;
}

@media (max-width: 768px) {

    /* line 376, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
    .single-product .price {
        text-align: center;
    }
}

@media (max-width: 800px) {

    /* line 375, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
    .single-product {
        margin-bottom: 20px;
    }
}

.content {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

/* line 418, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.content .content-overlay {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

/* line 431, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.content:hover .content-overlay {
    opacity: .5;
}

/* line 436, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.content-image {
    width: 100%;
}

/* line 440, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* line 459, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.fadeIn-bottom {
    left: 80%;
}

.bottom {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/* line 472, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.bottom a {
    display: inline-block;
    width: 25%;
    line-height: 40px;
    text-align: center;
}

/* line 477, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.bottom a span {
    color: #fff;
}

/* line 480, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.bottom a:hover {
    background: #fff;
    box-shadow: 2.828px 2.828px 15px 0px rgba(0, 0, 0, 0.1);
}

/* line 481, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.bottom a:hover span {
    color: #222222;
}

.sidebar-categories .head {
    line-height: 60px;
    background: #f9fafc;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}

/* line 1551, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sidebar-categories .main-categories {
    padding: 0 20px;
    background: #fff;
    border: 1px solid #eee;
}

.main-categories a {
    color: #000;
}

/* line 1557, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sidebar-categories .main-nav-list a {
    font-size: 13px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}

/* line 1563, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sidebar-categories .main-nav-list a:hover {
    color: #f37748;
}

/* line 1566, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sidebar-categories .main-nav-list a .number {
    color: #cccccc;
    margin-left: 10px;
}

/* line 1570, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sidebar-categories .main-nav-list a .lnr {
    margin-right: 10px;
}

/* line 1575, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sidebar-categories .main-nav-list.child a {
    padding-left: 32px;
}

.sidebar-filter .top-filter-head {
    line-height: 60px;
    background: #f9fafc;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}

/* line 1594, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sidebar-filter .head {
    line-height: 60px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    margin-top: 5px;
}

/* line 1603, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sidebar-filter .common-filter {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
}

/* line 1606, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.sidebar-filter .common-filter .filter-list {
    padding-left: 28px;
}

.price-range-area {
    padding: 30px 30px 0 30px;
}

/* line 1730, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .noUi-target {
    background: #eee;
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
}

/* line 1736, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .noUi-horizontal {
    height: 6px;
}

/* line 1739, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .noUi-connect {
    background: #eee;
    border-radius: 0px;
    box-shadow: none;
}

/* line 1744, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    left: -8px;
    top: -5px;
    border-radius: 50%;
    border: 0px;
    background: #f37748;
    box-shadow: none;
    cursor: pointer;
    -webkit-transition: ease 0.1s;
    -moz-transition: ease 0.1s;
    -o-transition: ease 0.1s;
    transition: ease 0.1s;
}

/* line 1755, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .noUi-horizontal .noUi-handle:focus {
    outline: none;
}

/* line 1758, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .noUi-horizontal .noUi-handle:hover {
    border: 3px solid #f37748;
    background: #fff;
}

/* line 1763, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .noUi-handle::after,
.price-range-area .noUi-handle::before {
    display: none;
}

/* line 1766, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .value-wrapper {
    margin-top: 20px;
    color: #cccccc;
}

/* line 1769, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .value-wrapper .to {
    margin: 0 5px;
}

/* line 1773, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.price-range-area .price {
    margin-right: 5px;
    color: #777777;
}

.pixel-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid #eee;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    outline: none;
    position: relative;
    z-index: 1;
}

/* line 1700, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.pixel-radio:checked {
    border: 7px solid #f37748;
}

/* line 1703, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.pixel-radio:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #f37748;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    opacity: 0;
}

@keyframes click-wave {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.35;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
        top: 50%;
        left: 50%;
        position: absolute;
    }
}

/* line 1717, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.pixel-radio {
    border-radius: 50%;
}

/* line 1720, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_common.scss */
.pixel-radio::after {
    border-radius: 50%;
}

.img-thumbnail {
    height: 300px;
    object-fit: cover !important;
}